@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body .container {
  width: 150vh;
  margin: 0 auto;
  max-width: 170vh;
}
body .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
body .container header .center nav {
  display: flex;
  align-items: center;
  gap: 100px;
}
body .container header .center nav a {
  background-image: linear-gradient(to right, rgb(238, 66, 72), rgb(238, 66, 72) 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
body .container header .center nav a:before {
  content: "";
  background: rgb(238, 66, 72);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
body .container header .center nav a:hover {
  background-position: 0;
}
body .container header .center nav a:hover::before {
  width: 100%;
}
body .container header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
body .container header .right img {
  transition: all 0.3s ease;
  cursor: pointer;
}
body .container header .right img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
body .container .title__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
}
body .container .title__elem:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .container .title__elem:nth-child(1) h1:nth-child(1) {
  width: 545px;
  color: rgb(31, 46, 53);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.687%;
}
body .container .title__elem:nth-child(1) h1:nth-child(2) {
  width: 545px;
  color: #EE4248;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.687%;
}
body .container .title__elem:nth-child(1) p {
  width: 520px;
  color: #30444E;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 144.687%;
}
body .container .title__elem:nth-child(1) button {
  padding: 12px 32px;
  gap: 10px;
  border-radius: 4px;
  background: #EE4248;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  width: 200px;
  transition: all 0.5s ease;
  height: 50px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  line-height: 144.687%;
}
body .container .title__elem:nth-child(1) button:hover {
  background-color: #fff;
  color: #EE4248;
  border: 2px solid #EE4248;
}
body .line {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
  box-shadow: 0 0 0.1px 0;
}

body .ind {
  background-color: rgb(246, 246, 246);
  margin: 50px 0;
}
body .ind .container .ind__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 50px 0;
}
body .ind .container .ind__box .ind__elem:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .ind .container .ind__box .ind__elem:nth-child(2) h1 {
  width: 454px;
  color: #30444E;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.687%;
}
body .ind .container .ind__box .ind__elem:nth-child(2) span {
  width: 454px;
  color: #EE4248;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.687%;
}
body .ind .container .ind__box .ind__elem:nth-child(2) p {
  width: 520px;
  color: #30444E;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

body .container .descr h1 {
  color: #1F2E35;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.687%;
}
body .container .descr__box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
}
body .container .descr__elem h2 {
  padding: 20px 0;
  color: #EE4248;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.687%;
}
body .container .descr__elem p {
  width: 319px;
  color: #30444E;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
body .container .descr__elem button {
  margin: 20px 0;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #EE4248;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 144.687%;
  transition: all 0.5s ease;
}
body .container .descr__elem button:hover {
  background-color: #fff;
  color: #EE4248;
  border: 2px solid #EE4248;
}
body .container footer {
  display: flex;
  justify-content: left;
  align-items: self-end;
  gap: 30px;
  padding-top: 100px;
}
body .container footer .element p {
  padding: 7px 0;
}
body .container footer .element p:nth-child(1) {
  color: #263238;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body .container footer .element:nth-child(1) p:nth-child(2) {
  color: #263238;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body .foot {
  width: 100%;
  background-color: #EE4248;
  margin-top: 20px;
}
body .foot .container p {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */